<p id="notice"><%= notice %></p>

<p>
  <strong>Class:</strong>
  <%= @guardian.class_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @guardian.user_id %>
</p>

<%= link_to 'Edit', edit_guardian_path(@guardian) %> |
<%= link_to 'Back', guardians_path %>
